<!DOCTYPE html>
{% extends "action/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block content %}
    <h3>Completed Acitons</h3>
    <br>
    <ul>
        {% for action in actions %}
        <li>
            <a href="{% url 'viewaction' action.id %}">
            {% if action.important %}<b>{% endif %}{{ action.title }}{% if action.important %}</b>
            {% endif %}{% if action.memo %} - {{ action.memo }}{% endif %}
                <br></a>
            {{ action.date_completed|date:'M j Y H:i' }}
        </li>
        {% endfor %}
    </ul>


    {% endblock %}

</head>
<body>

</body>
</html>