<!DOCTYPE html>
{% extends "action/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block content %}

    <ul>
        {% for action in actions %}
        <li>
            <a href="{% url 'viewaction' action.id %}">
                {% if action.important %}<b>{% endif %}{{ action.title }}{% if action.important %}</b>
            {% endif %}{% if action.memo %} - {{ action.memo }}{% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>

    <!-- <a href="{% url 'createaction' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Create</a> -->

    {% endblock %}

</head>
<body>

</body>
</html>